.homepage {
    margin: 0 auto;
    padding: 100px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.title {
    text-align: left;
    font-family: sans-serif;
    color: black;
    font-weight: 800;
}